* {
  font-family: Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

main {
  z-index: 1;
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.bg-img-small {
  position: fixed;
  top: 0;
  z-index: -20;
  background-image: url(/assets/kati-y-ale-small.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  filter: blur(15px);
}

.bg-img {
  position: fixed;
  top: 0;
  z-index: -10;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  filter: blur(5px);
}

.blurred {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
}

.border-3 {
  border-width: 3px;
  border-style: solid;
}

.border-salmon {
  border-color: #fa8072;
}

.w-full {
  width: 100vw;
}

.h-full {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.font-bold {
  font-weight: bold;
}

.text-white {
  color: white;
}

.text-salmon {
  color: #fa8072;
}

.text-gray {
  color: #3f3f3f;
}

.focus\:text-salmon:focus {
  color: #fa8072;
}

.hover\:text-salmon:hover {
  color: #fa8072;
}

.visited\:text-gray:visited {
  color: #3f3f3f;
}

.text-def {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.text-md {
  font-size: 1.75rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 2rem;
  line-height: 1.5rem;
}

.text-xlg {
  font-size: 2.5rem;
  line-height: 1.5rem;
}

.text-2xlg {
	font-size: 4rem;
  line-height: 1;
}

.mt-50 {
  margin-top: 50px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.p-50 {
  padding: 50px;
}

.focus\:ring-salmon {
  outline-color: #fa8072;
}

.focus\:ring-2 {
  outline-width: 2px;
  border-radius: 0;
}

.focus\:ring-offset-10 {
  outline-offset: 10px;
}

/* --- Breakpoints ---------------------------------------------------------- */

@media screen and (min-width: 640px) {
  .tablet\:text-2xlg {
    font-size: 4rem;
    line-height: 1;
  }

  .tablet\:text-lg {
    font-size: 2rem;
    line-height: 1.5rem;
  }
}
